/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  --primary-background-color: linear-gradient(
    180deg,
    #000 0%,
    #191847 71.25%,
    #232163 100%
  );
  --primary-background-color-light: linear-gradient(
    180deg,
    #fff -23.05%,
    #eef2f8 47.88%,
    #d6dfee 147.61%
  );
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-background-color) no-repeat;
  height: 100lvh;
}

body.light-mode {
  background: var(--primary-background-color-light) no-repeat;
}

.chat-action-btn {
  color: red;
}

deep-chat {
  --deep-conversation-chat-view-border: 3px dashed blue;
}

.demo-chat {
  display: flex !important;
  flex: 1;
  width: 800px !important;
  height: 100% !important;
  border-radius: 16px 16px 0 0 !important;
  margin: 15px auto !important;
  background: url("/astroimage2.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-width: 1px;
  border-style: solid;
}

/* src/style.css */
#my-btn {
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

body.dark-mode #my-btn {
  background: rgb(4, 36, 74);
  color: #fff;
  border: 1px solid gray;
}

body.light-mode #my-btn {
  background: #e0e0e0;
  color: #333;
  border: 1px solid #cccccc;
}

body.light-mode #my-btn:hover {
  background: #d0d0d0;
}

body.dark-mode #my-btn:hover {
  background: rgb(3, 43, 83);
}
