/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  --primary-background-color: linear-gradient(
    180deg,
    #000 0%,
    #191847 71.25%,
    #232163 100%
  );
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-background-color) no-repeat;
  height: 100lvh;
}

.chat-action-btn {
  color: red;
}

deep-chat {
  --deep-conversation-chat-view-border: 3px dashed blue;
}

.demo-chat {
  display: flex !important;
  flex: 1;
  width: 800px !important;
  height: 100% !important;
  border-radius: 16px 16px 0 0 !important;
  margin: 15px auto !important;
  background: url("/public/astroimage2.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-width: 1px;
  border-style: solid;
}

